<mat-card >

<h1 align="center" class="display-4 mb-5">{{title}}</h1>




  <input type = "text" align="center"  style="width: 60%; height: 30px; border: 3px; border-radius: 5px; margin: 0; position: absolute; left: 50%;-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%); font-size: 15px; color: black;" name="search" [(ngModel)]="searchText" placeholder ="Search  Product "/><br><br>



<div class="row card-deck text-center">
 
 
  <div *ngFor="let productInfo of page?.content | filter:searchText" class="col-lg-4 "> <br> <br>
    <div class="card mb-3" style="width: 350px;" >
      <img height="100px"  style="height: 300px;font-size: 14px;" class="card-img-top" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">
      <div class="card-body">
        <h3>
        <h4 class="card-title ">{{productInfo.productName}}</h4>
      </h3>

        <div class="text-left" style="color:black">
          <h5>
          <p class="card-test" style="font-size: 14px;"><strong>Description: </strong>{{productInfo.productDescription}}</p></h5>

          <h5>
          <p class="card-text" style="font-size: 14px;"><strong>Price: </strong>{{productInfo.productPrice | currency}}</p>
          </h5>

          <h5>
          <p class="card-text"style="font-size: 14px;"><strong>Stock: </strong>{{productInfo.productStock}}</p>
        </h5>
        </div>
        <br>
        <a routerLink="/product/{{productInfo.productId}}" *ngIf="productInfo.productStatus == 0; else offBlock"
           class="btn btn-primary btn-lg"> Just Click!! </a>
        <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
      </div>
    </div>
  </div>
</div>
</mat-card>
<app-pagination  [currentPage]="page" ></app-pagination>